@page "/sportsTest"
@using BlazorApp1.Shared
@inject HttpClient Http

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Assists</th>
                <th>Blocks</th>
                <th>Steals</th>
                <th>Turnovers</th>
                <th>Points</th>
                <th>Efficiency Rating</th>
                <th>Fantasy Points</th>
                <th>Updated </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.name</td>
                    <td>@player.team</td>
                    <td>@player.assists</td>
                    <td>@player.blockedShots</td>
                    <td>@player.steals</td>
                    <td>@player.turnOvers</td>
                    <td>@player.points</td>
                    <td>@player.playerERating</td>
                    <td>@player.fantasyPoints</td>
                    <td>@player.updated.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<PlayerStats> players;

    protected override async Task OnInitializedAsync()
    {
        players = await Http.GetFromJsonAsync<List<PlayerStats>>("Api/Values");
    }
}
